#title {
    font-size: 3rem;
    font-weight: 800;
    padding-top: 1rem;
    padding-left: 11rem;
    margin: 2rem;
}


p {
    padding-top: 1.5rem;
    padding-left: 12rem;
    padding-right: 12rem;
}

